.Photo {
  color: white;
  width: 1000px;
  border: 1px solid white;
  margin: 100px;
}
.container {
  cursor: grab;
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 1px solid black;
  height: 98vh;
  overflow-x: scroll;
}
